@font-face
  font-family: "cube-icon"
  src:
    url("./cubeic.woff") format("woff"),
    url("./cubeic.ttf") format("truetype")

[class^="cubeic-"], [class*=" cubeic-"]
  font-family: "cube-icon"!important
  font-size: 100%
  font-style: normal
  -webkit-font-smoothing: antialiased
  -webkit-text-stroke-width: 0.2px
  -moz-osx-font-smoothing: grayscale

.cubeic-important::before
  content: "\e68b"
.cubeic-alert::before
  content: "\e676"
.cubeic-ok::before
  content: "\e68c"
.cubeic-back::before
  content: "\e608"
.cubeic-arrow::before
  content: "\e60b"
.cubeic-close::before
  content: "\e60d"
.cubeic-warn::before
  content: "\e614"
.cubeic-question::before
  content: "\e616"
.cubeic-right::before
  content: "\e617"
.cubeic-wrong::before
  content: "\e618"
.cubeic-info::before
  content: "\e619"
.cubeic-danger::before
  content: "\e641"
.cubeic-round-border::before
  content: "\e683"
