@font-face
  font-family: "cube-icon"
  src:
    url("./cubeic.woff") format("woff"),
    url("./cubeic.ttf") format("truetype")

[class^="cubeic-"], [class*=" cubeic-"]
  font-family: "cube-icon"!important
  font-size: 100%
  font-style: normal
  -webkit-font-smoothing: antialiased
  -webkit-text-stroke-width: 0.2px
  -moz-osx-font-smoothing: grayscale

.cubeic-eye-invisible::before
  content: "\e624"

.cubeic-eye-visible::before
  content: "\e625"

.cubeic-square-right::before
  content: "\e67d"

.cubeic-select::before
  content: "\e609"

.cubeic-pulldown::before
  content: "\e603"

.cubeic-pullup::before
  content: "\e604"

.cubeic-more::before
  content: "\e607"

.cubeic-back::before
  content: "\e608"

.cubeic-arrow::before
  content: "\e60b"

.cubeic-close::before
  content: "\e60d"

.cubeic-warn::before
  content: "\e614"

.cubeic-question::before
  content: "\e616"

.cubeic-right::before
  content: "\e617"

.cubeic-wrong::before
  content: "\e618"

.cubeic-info::before
  content: "\e619"

.cubeic-remove::before
  content: "\e61a"

.cubeic-add::before
  content: "\e61c"

.cubeic-share::before
  content: "\e631"

.cubeic-no-wifi::before
  content: "\e632"

.cubeic-smile::before
  content: "\e634"

.cubeic-sad::before
  content: "\e636"

.cubeic-email::before
  content: "\e637"

.cubeic-game::before
  content: "\e638"

.cubeic-wifi::before
  content: "\e639"

.cubeic-hot::before
  content: "\e63b"

.cubeic-notification::before
  content: "\e63d"

.cubeic-delete::before
  content: "\e63e"

.cubeic-vip::before
  content: "\e63f"

.cubeic-mute::before
  content: "\e640"

.cubeic-danger::before
  content: "\e641"

.cubeic-volume::before
  content: "\e642"

.cubeic-bad::before
  content: "\e643"

.cubeic-mobile-phone::before
  content: "\e644"

.cubeic-aim::before
  content: "\e645"

.cubeic-navigation::before
  content: "\e64d"

.cubeic-safe-pay::before
  content: "\e64e"

.cubeic-tag::before
  content: "\e64f"

.cubeic-lock::before
  content: "\e651"

.cubeic-unlock::before
  content: "\e652"

.cubeic-edit::before
  content: "\e653"

.cubeic-scan::before
  content: "\e654"

.cubeic-qr-code::before
  content: "\e655"

.cubeic-calendar::before
  content: "\e659"

.cubeic-time::before
  content: "\e65f"

.cubeic-red-packet::before
  content: "\e664"

.cubeic-star::before
  content: "\e668"

.cubeic-setting::before
  content: "\e669"

.cubeic-home::before
  content: "\e66d"

.cubeic-credit-card::before
  content: "\e66e"

.cubeic-mall::before
  content: "\e670"

.cubeic-microphone::before
  content: "\e673"

.cubeic-search::before
  content: "\e674"

.cubeic-good::before
  content: "\e675"

.cubeic-alert::before
  content: "\e676"

.cubeic-picture::before
  content: "\e677"

.cubeic-message::before
  content: "\e678"

.cubeic-phone::before
  content: "\e67a"

.cubeic-location::before
  content: "\e67b"

.cubeic-like::before
  content: "\e67c"

.cubeic-camera::before
  content: "\e67e"

.cubeic-person::before
  content: "\e67f"

.cubeic-round-border::before
  content: "\e683"

.cubeic-important::before
  content: "\e68b"

.cubeic-ok::before
  content: "\e68c"

.cubeic-square-border::before
  content: "\e990"
