// color vars
//// basic
$color-orange = #fc9153
$color-regular-blue = #4a4c5b
$color-background = #f3f4f5
$color-white = #fff

//// gray
$color-dark-grey = #333
$color-grey = #666
$color-light-grey = #999
$color-light-grey-s = #ccc
$color-light-grey-ss = #eee
$color-light-grey-sss = #fcfcfc
$color-active-grey = #e8e8e8

$color-dark-grey-opacity = rgba(74, 76, 91, 0.8)
$color-grey-opacity = rgba(0, 0, 0, .08)
$color-light-grey-opacity = rgba(0, 0, 0, .04)

//// orange
$color-dark-orange = #e8864c
$color-light-orange = #fdc2a5
$color-orange-opacity = rgba(252, 145, 83, .08)
$color-light-orange-opacity = rgba(252, 145, 83, .04)

//// blue
$color-blue = #444654

//// row line
$color-row-line = #ebebeb
//// column line
$color-col-line = #f5f5f5

/// mask
$color-mask-bg = rgba(37, 38, 45, .4)
